div#pagelet_navigation {
    display: none !important;
}

.home_right_column {
    display: none !important;
}

div#u_0_22 {
    display: none !important;
}

._1pfm {
    display: none !important;
}

div#video_chats {
    display: none !important;
}

div#u_ps_0_7_4 {
    display: none !important;
}

div#fb_stories_card_root {
    display: none !important;
}

.fbChatSidebar {
    display: none !important;
}

._5pcr.userContentWrapper._4nef._5pcr {
    display: none !important;
}